
@using System.Data
@using Newtonsoft.Json
@using SoftifyFoodPOSNew.Models.Helpers
@model SoftifyFoodPOSNew.Models.Category
@{
    ViewBag.Title = "Color Size Entry / List";
}
<header class="page-header">
    <h2>@ViewBag.Title</h2>
</header>
<!--Error messages will be shown here-->
@Html.Partial("_FlashMessage")

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<!-- start: Color Entry  page -->

<section class="panel">
    <div class="row" ng-app="ngGridApp" ng-controller="ngGridCtrl">
        <div class="col-md-12">
            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#Color" data-toggle="tab">Color Add/List</a>
                    </li>
                    <li>
                        <a href="#Size" data-toggle="tab">Size Add/List</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="Color" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-3  mt-none ml-md">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.ColorId, new {@class = "control-label ", ng_model = "Color.ColorId", ng_value = "Color.ColorId"})

                                            @Html.LabelFor(model => model.ColorId, "Color Id", htmlAttributes: new {@class = "control-label"})
                                            @Html.EditorFor(model => model.ColorId, new {htmlAttributes = new {@class = "form-control ", @placeholder = "", ng_model = "Color.ColorId", @readOnly = ""}})
                                        </div>

                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ColorName, "Color Name", htmlAttributes: new {@class = "control-label "})
                                            @Html.EditorFor(model => model.ColorName, new {htmlAttributes = new {@class = "form-control", @placeholder = "", ng_model = "Color.ColorName", ng_required = "!Size.SizeName"}})
                                            @Html.ValidationMessageFor(model => model.ColorName, "", new {@class = "text-danger"})
                                        </div>

                                    </div>

                                    <div class="col-md-12 mt-lg">
                                        <button class="btn btn-danger btn-wide" type="button" name="btnSubmits" ng-disabled="!Color.ColorName" ng-click="InsertItem(Color)">
                                            Submit <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <!-- : loading..... -->
                                <div ng-show="showLoader" class="loading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001;">
                                    <img src="~/Content/assets/images/loadinghr.gif" alt="loading" style="position: absolute; top: 45%; left: 45%; width: 8%;">
                                </div>

                                <div ui-grid="gridOptionsColor" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important;" class="grid"></div>

                            </div>
                        </div>

                    </div> <!-- Color tab End-->

                    <div id="Size" class="tab-pane">
                        <div class="row">
                            <div class="col-md-3  mt-none ml-md">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.HiddenFor(model => model.SizeId, new {@class = "control-label ", ng_value = "Size.SizeId"})


                                        @Html.LabelFor(model => model.SizeId, "SizeId", htmlAttributes: new {@class = "control-label "})
                                        @Html.EditorFor(model => model.SizeId, new {htmlAttributes = new {@class = "form-control ", @placeholder = "", ng_model = "Size.SizeId", @readOnly = ""}})
                                        @Html.ValidationMessageFor(model => model.SizeId, "", new {@class = "text-danger"})

                                        @Html.LabelFor(model => model.SizeName, "Size Name", htmlAttributes: new {@class = "control-label "})
                                        @Html.EditorFor(model => model.SizeName, new {htmlAttributes = new {@class = "form-control", @placeholder = "", @Required = "required", ng_model = "Size.SizeName", ng_required = "!Color.ColorName"}})
                                        @Html.ValidationMessageFor(model => model.SizeName, "", new {@class = "text-danger"})

                                    </div>

                                    <div class="col-md-12 mt-lg">
                                        <button class="btn btn-danger btn-wide" type="button" name="btnSubmits" ng-disabled="!Size.SizeName" ng-click="InsertItem(Size)">
                                            Submit <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- Start: Size Start -->

                            <div class="col-md-8">
                                <!-- : loading..... -->
                                <div ng-show="showLoader" class="loading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001;">
                                    <img src="~/Content/assets/images/loadinghr.gif" alt="loading" style="position: absolute; top: 45%; left: 45%; width: 8%;">
                                </div>

                                <div ui-grid="gridOptionsSize" ui-grid-exporter ui-grid-auto-fit-columns ui-grid-resize-columns
                                     style="font-family: 'Open Sans', Arial, sans-serif; color: #252222 !important;" class="grid"></div>
                            </div>

                            <!-- END: Size End -->
                        </div>
                    </div>
                </div><!-- Sub Color Tab End-->
            </div>
        </div>
    </div>
</section>

<script>

    ngGridApp.controller('ngGridCtrl', ['$scope', '$http', '$log', '$filter', '$timeout', function ($scope, $http, $log, $filter, $timeout) {
        $scope.Color = {};
        $scope.Size = {};
        $scope.CatCombo = [];

        $scope.updateColor = function (model) {
            $scope.Color = angular.copy(model);
        };
        $scope.updateSize = function (model) {
            $scope.Size = angular.copy(model);
        };

        $scope.isRequired = function () {
            return !!($scope.Size.CatIds || $scope.Size.SubCatName);
        };

        $scope.SizeData = [];
        $scope.ColorData = [];

        $scope.gridOptionsColor = {
            // EXPORT : START
            enableGridMenu: true,
            enableSelectAll: true,
            enableColumnMenus: false,
            enableAutoFitColumns: false,
            exporterCsvFilename: 'myFile.csv',
            exporterPdfDefaultStyle: { fontSize: 7 },
            exporterPdfTableStyle: { margin: [10, 10, 10, 10] },
            exporterPdfTableHeaderStyle: { fontSize: 7, bold: true, italics: false, color: 'black' },
            exporterPdfHeader: { text: "Color List", style: 'headerStyle', fontSize: 9, bold: false },
            exporterPdfFooter: function (currentPage, pageCount) {
                return { text: currentPage.toString() + ' of ' + pageCount.toString(), style: 'footerStyle' };
            },
            exporterPdfCustomFormatter: function (docDefinition) {
                docDefinition.styles.headerStyle = { fontSize: 15, bold: true };
                docDefinition.styles.footerStyle = { fontSize: 8, bold: true };
                return docDefinition;
            },
            exporterPdfOrientation: 'landscape',
            exporterPdfPageSize: 'legal',
            //exporterPdfMaxGridWidth: 500,
            exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-location")),
            exporterExcelFilename: 'myFile.xlsx',
            exporterExcelSheetName: 'Sheet1',
            // EXPORT : END
            enableFiltering: true,
            showGridFooter: true

        }

        $scope.gridOptionsSize = {
            // EXPORT : START
            enableGridMenu: true,
            enableSelectAll: true,
            enableColumnMenus: false,
            enableAutoFitColumns: false,
            exporterCsvFilename: 'myFile.csv',
            exporterPdfDefaultStyle: { fontSize: 7 },
            exporterPdfTableStyle: { margin: [10, 10, 10, 10] },
            exporterPdfTableHeaderStyle: { fontSize: 7, bold: true, italics: false, color: 'black' },
            exporterPdfHeader: { text: "Size List", style: 'headerStyle', fontSize: 9, bold: false },
            exporterPdfFooter: function (currentPage, pageCount) {
                return { text: currentPage.toString() + ' of ' + pageCount.toString(), style: 'footerStyle' };
            },
            exporterPdfCustomFormatter: function (docDefinition) {
                docDefinition.styles.headerStyle = { fontSize: 15, bold: true };
                docDefinition.styles.footerStyle = { fontSize: 8, bold: true };
                return docDefinition;
            },
            exporterPdfOrientation: 'landscape',
            exporterPdfPageSize: 'legal',
            //exporterPdfMaxGridWidth: 500,
            exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-location")),
            exporterExcelFilename: 'myFile.xlsx',
            exporterExcelSheetName: 'Sheet1',
            // EXPORT : END
            enableFiltering: true,
            showGridFooter: true

        }

        $scope.gridOptionsColor.columnDefs = [
            , { name: 'Color', field: 'ColorName', width: 500 }
            , {
                name: 'Action', enableFiltering: false, width: 130,
                cellTemplate:
                    ' <div class="ml-sm">' +
                        ' <a href="javascript:void(0)"  ng-click="grid.appScope.updateColor(row.entity)">' +
                        '                <i class="fa fa-edit fa-lg black mr-md ml-md" aria-hidden="true" title="Update Trip" data-placement="top" data-delay="500" data-toggle="tooltip"></i>' +
                        '          </a>' +

                        ' <a href="javascript:void(0)" class="text-danger black" ng-click="grid.appScope.DeleteItem(row.entity.ColorId,0)"><i class="fa fa-trash fa-lg" aria-hidden="true" title="delete item !!"></i></a>' +
                        '    </div>'
            }
        ];

        $scope.gridOptionsSize.columnDefs = [
            , { name: 'Size', field: 'SizeName', width: 500 }
            , {
                name: 'Action', enableFiltering: false, width: 130,
                cellTemplate:
                    ' <div class="ml-sm">' +

                        ' <a href="javascript:void(0)"  ng-click="grid.appScope.updateSize(row.entity)">' +
                        '                <i class="fa fa-edit fa-lg black mr-md ml-md" aria-hidden="true" title="Update Trip" data-placement="top" data-delay="500" data-toggle="tooltip"></i>' +
                        '          </a>' +

                        ' <a href="javascript:void(0)" class="text-danger black" ng-click="grid.appScope.DeleteItem(0,row.entity.SizeId)"><i class="fa fa-trash fa-lg" aria-hidden="true" title="delete item !!"></i></a>' +
                        '    </div>'
            }
        ];
        $scope.GetColorSize = function () {
            /*  Get Sub Color */
            $http({
                method: 'Get',
                url: '../Category/GetColorData'
            }).
                then(function (data) {
                    $scope.gridOptionsColor.data = data.data;
                });
            /*  Get Sub Color */
            $http({
                method: 'Get',
                url: '../Category/GetSizeData'
            }).
                then(function (data) {
                    $scope.gridOptionsSize.data = data.data;
                });
        }


        $scope.DeleteItem = function (ColorId, SizeId) {
            if (confirm('Do you want to Delete  ?')) {
                var url = ""; var itemId = 0;
                if (ColorId > 0) { url = "prcDeleteDataColor/Category"; itemId = ColorId; }
                else { url = "prcDeleteDataSize/Category"; itemId = SizeId }

                $http.post(url, { itemId }).then(function (data) {
                    if (data.data == 1) {
                        new PNotify({
                            title: 'Notification',
                            text: 'Data Deleted Successfully.',
                            type: 'custom',
                            addclass: 'notification-success',
                            icon: 'fa fa-check'
                        });
                        $scope.GetColorSize();
                        $scope.Size = null;
                        $scope.Color = null;

                    }
                    else {
                        new PNotify({
                            title: 'Notification',
                            text: '!! Failure : ' + data.data,
                            type: 'custom',
                            addclass: 'notification-danger',
                            icon: 'fa fa-exclamation-triangle'
                        });
                    }
                });
            }

        }

        $scope.InsertItem = function (model) {
            $http.post("../Category/ColorSize", { model }).then(function (data) {
                if (data.data == "1") {
                    new PNotify({
                        title: 'Notification',
                        text: 'Data Saved Successfully.',
                        type: 'custom',
                        addclass: 'notification-success',
                        icon: 'fa fa-check'
                    });
                    $scope.GetColorSize();
                    $scope.Size = null;
                    $scope.Color = null;
                }
                else if (data.data == "2") {
                    new PNotify({
                        title: 'Notification',
                        text: 'Data Updated Successfully.',
                        type: 'custom',
                        addclass: 'notification-success',
                        icon: 'fa fa-check'
                    });
                    $scope.GetColorSize();
                    $scope.Size = null;
                    $scope.Color = null;
                }

                else {
                    new PNotify({
                        title: 'Notification',
                        text: '!! Failure : ' + data.data,
                        type: 'custom',
                        addclass: 'notification-danger',
                        icon: 'fa fa-exclamation-triangle'
                    });
                    $scope.GetColorSize();
                    $scope.GetSize();
                    $scope.Color = null;
                    $scope.GetSize = null;
                }
            });
        }

        $scope.GetColorSize(); // Page Load




    }]);
</script>
